.wraper{
height: 100%; 
width: 100%; 
display: block; 






}

#video1{
position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   



}

a{
position: relative; 
top: 10px; 
left: 10px;

}