<section class="about">

    <h3 id="about">
    Hi, nice to meet you 

    </h3>
    

    
    
    
<div class="img1">
    <img src="../assets/img/grey-line.jpg"/>
    
    
</div> 
    <div class="imagewraper">
         <img src="../assets/img/icon/linesmall.png">
         
         </div>
    
    <p>
    
    <strong>Curious as an explorer, risk taker as a child,</strong> I envision the world as a big playful canvas.  
    <br>Filled with the drive to always learn more, my interests have been always pluridisciplenary. From physics, films, to designs, I believe that deep understanding comes from putting different subjects into unity. 
    <br>
         Half French, Half Japanese, and now a student at Mcgill university, this cross-pollination of culture advised me the power of understanding other: empathy. 
    <br> 
             <br>
        <em> Jump into experience and learn progressively <br>on the way</em>
        <br>
        
        
        
    
    </p>
    <h4>

        SKILLS
        </h4>
<div class="img2">
    
    <img src="../assets/img/circles.jpg"/>
    
    </div>
   

</section>

