<section class="cover2">
 
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic' rel='stylesheet' type='text/css'>
   <div class="wraper">
       <h1>
        Born to explore
    </h1>
    <h4>
        doing something, somewhere...
    </h4>
    
    <h3>
        Sangam Chouchan
    </h3>
    
     <nav>
        
             <a href=""> <span class="me">About</span></a>
         <a href="#videos"> <span class="video">Coding</span></a>
         <a href=""> <span class="coding">Business</span></a>
         <a href=""> <span class="business">Videos</span></a>
         <a href=""> <span class="design">Design</span></a>
         <a href=""> <span class="experiments">Experiments</span></a>
         
         
    
     </nav>
       
       
   </div>
    
</section>