<section class="cover">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300' rel='stylesheet' type='text/css'>
<div class="wraper">  
   <div class="text">
       <img src="../assets/img/themes.png" >
   
   </div>   
     <nav>
        
             <a href=""> <span class="me">About 
     </span></a>
         <a href="#videos"> <span class="video">Videos</span></a>
         <a href=""> <span class="coding">Coding</span></a>
         <a href=""> <span class="business">Business</span></a>
         <a href=""> <span class="design">Design</span></a>
         <a href=""> <span class="experiments">Experiments</span></a>
         
         
    
     </nav>
        
        </div>    
</section>