


<header>

<link href="http://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css">


    

    
    

 <div class="wrapersub">
    
<nav> 
    

    
<h1>WHY SO <br>SERIOUS?<br> </h1>
    
    
  
    
    
    
    
    
    <a href="#videos"> <span class="video">VIDEO</span></a>
    <a href="#photos"> <span class="photo">PHOTO</span></a>
    <a href="#musics"> <span class="music">MUSIC</span></a>
    
 
    
    </nav>

    


<div class="navi2">
        <a href="#about">Me</a>
        <a href="">Contact</a>
                        </div>


<div class="myname">
    
    Sangam Chouchan
    </div>


    



    </div>

</header>

