


<section class="photos">
<script type="text/javascript" src=/assets/js/jquery-2.1.1.min.js></script>
<script type="text/javascript" src="/assets/js/jquery.cycle.all.js"></script>
<script type="text/javascript">
    

    
$('#slider').cycle({
  fx:           'scrollHorz',
  next:         '#next',
  prev:         '#pre',
  pager:        '#pager',
  timeout:      10000, 
  speed:        900
  
  
  
  
 
});

    
    </script>
    
    
   
<h3 id="photos">
    
    PHOTO</h3>

<div id="hero">
    <div id="pager"></div>
    
    <div id="next">&rang;</div>
    <div id="pre">&lang;</div>
    <div id="pager"></div>
 
    
    
    <div id="slider">
    
        <div id="items">
        
         <img src="/assets/img/photo/thumb1_big.jpg">
        
        
        
        </div><div id="items">
        
         <img src="/assets/img/photo/thumb2_big.jpg">
        
        
        
        </div><div id="items">
        
         <img src="/assets/img/photo/thumb3_big.jpg">
        
        
        
        </div><div id="items">
        
         <img src="/assets/img/photo/thumb4_big.jpg">
        
        
        
        </div>
    
    </div>

    
    
    </div>

    <div id="wraper">
    <a href="javascript:void(0);"> <span class="gallary">Gallary <br>(coming soon)</span></a>
    
    </div>
</section>
 