<section class="videos">




    



<h3 id="videos">
VIDEO

</h3>
    <h5>(Click on image to play)</h5>
    
<div class="video-container">
    
    
<div class="thumb-all">
    
    <a href="video1.html" class="thumb-video1" style="background-image: url(/assets/img/video/thumb1.jpg)"   >
    
    <div class="overlay1">
        <strong>PLAY</strong>
        </div>
    <div class="overlay2">
        
        
       <p>
        <strong>Be Crazy, Be Awesome</strong><br>
        Matt Davis tells us what it takes to live a fullfilled life. An inspirational and energizing motivational video. 
        
        <p>
        
        </div>
        
        
        
        
    
    </a>
    </div>
    

    <div class="thumb-all">
    
    <a href="video3.html" class="thumb-video2" style="background-image: url(/assets/img/video/thumb2.jpg)"   >
    
    <div class="overlay1">
        <strong>PLAY</strong>
        </div>
    <div class="overlay2">
        
        <p>
        <strong>Kyudo World Cup 2014</strong><br>
        Archery from all the world gather to demonstrate and compete the way of the bow. The value of Kyudo, beauty, truth and goodness, shine as the bow hits the target. 
        
        <p>
        
        
        
        </div>
    
    </a>
    </div><div class="thumb-all">
    
    <a href="video2.html" class="thumb-video3" style="background-image: url(/assets/img/video/thumb3.jpg)"   >
    
    <div class="overlay1">
        <strong>PLAY</strong>
        </div>
    <div class="overlay2">
        
        <p>
        <strong>Mcgill Lounge</strong><br>
        Animated video for an upcoming application. Mcgill Lounge rises to the challenges of making interaction between students easier, faster, and more genuine. 
        
        <p>
        
        
        
        </div>
    
    </a>
    </div><div class="thumb-all">
    
    <a href="video4.html" class="thumb-video4" style="background-image: url(/assets/img/video/thumb4.jpg)"   >
    
    <div class="overlay1">
        <strong>PLAY</strong>
        </div>
    <div class="overlay2">
        
        <p>
        <strong>Official teaser of Kyudo World Cup</strong><br>
        Cinematic portrait of Kyudo, the way of the bow. In a deep concentration of the archery master, time seems to freeze all together. 
        
        <p>
       
        
        
        </div>
    
    </a>
    </div>

    </div>

    


    
    
    </script>
   
   </section>